{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <h1>Ajouter un Produit</h1>

    <form method="post" action="{{ path('product_create') }}">
        <div class="mb-3">
            <label for="category" class="form-label">Catégorie</label>
            <input type="text" class="form-control" id="category" name="category" required>
        </div>
        <div class="mb-3">
            <label for="num" class="form-label">Numéro</label>
            <input type="text" class="form-control" id="num" name="num" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Prix</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-success">ajouter</button>
    </form>

    <a href="{{ path('product_list') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
